<div class="modal-header">
  <h5 class="modal-title" id="newTripModal">Créez votre prochain voyage</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <app-trip-form #tripForm (submitted)="createNewTrip($event)"></app-trip-form>
</div>
<div *ngIf="addTripError" class="col-12 d-flex justify-content-center">
  <p class="bg-danger text-light text-center py-2 px-5">{{ errorMessage }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
    Annuler
  </button>
  <button type="submit" class="btn btn-primary" (click)="tripForm.onSubmit()">Valider</button>
</div>
