<app-nav-element></app-nav-element>
<div class="container-fluid bg-white pb-5" style="margin-top:120px">
    <div class="row">
        <div class="d-flex col-12 align-items-center justify-content-center" style="margin-top: -100px;">
            <h1 class="text-center my-5 display-3 fw-bold" >Mon Compte</h1>
            <div *ngIf="user && !isEditMode" class="d-flex">
                <button type="button" class="btn btn-primary  ms-3" (click)="delete()">Supprimer</button>
                <button type="button" class="btn btn-primary ms-3" (click)="enableEditMode()">Editer</button>
            </div>

        </div>
        <ul *ngIf="user" class="col-12 d-flex justify-content-center" style="list-style:none;">
            <li class="mx-3"><i class="bi bi-airplane-fill me-2 text-primary"></i><span class="fw-bold">{{ user.tripsCount }}</span></li>
            <li class="mx-3"><i class="bi bi-calendar me-2 text-primary"></i><span class="fw-bold">{{ formatDate(user.createdAt) }}</span></li>
        </ul>
        <form *ngIf="user" #userForm="ngForm" class="col-12 my-5 d-flex align-items-end justify-content-center gap-3" style="list-style:none;">
            <div>
                <label for="username" class="form-label required"><i class="bi bi-person-fill me-2 text-primary"></i><span class="fw-bold">Nom d'utilisateur</span></label>
                <input
                    id="username"
                    name="username"
                    class="p-2 form-control"
                    type="text"
                    required
                    minlength="3"
                    maxlength="25"
                    pattern="^[a-zA-Z0-9\-]*$"
                    #usernameField="ngModel"
                    [(ngModel)]="userUpdateRequest.name"
                    (ngModelChange)="onNameChange($event)"
                    [disabled]="!isEditMode"
                    [ngClass]="{'text-secondary': !isEditMode}"
                />
                <p class="position-absolute small m-1 text-danger" *ngIf="(usernameField.hasError('required') || usernameField.hasError('minlength')|| usernameField.hasError('pattern')|| usernameField.hasError('maxlength')) && usernameField.touched">
                    Mot de 3 à 25 caractères [a-z, A-Z, -]
                </p>
            </div>
            <div>
                <label for="username"class="form-label"><i class="bi bi-key-fill me-2 text-primary"></i><span class="fw-bold">Mot de passe</span></label>
                <input
                    class="p-2 form-control"
                    type="password"
                    name="password"
                    id="password"
                    required
                    minlength="4"
                    [(ngModel)]="userUpdateRequest.password"
                    [disabled]="!isEditMode"
                    #passwordField="ngModel"
                    [ngClass]="{'text-secondary': !isEditMode}"
                    (ngModelChange)="onPasswordChange($event)"
                />
                <p class="position-absolute small m-1 text-danger" *ngIf=" passwordField.hasError('minlength')|| passwordField.hasError('required')||passwordField.hasError('maxlength')&& passwordField.touched">
                    Minimum 4 caractères
                </p>
            </div>
            <ng-container *ngIf="isEditMode;" class="col-12 d-flex">
                <div class="d-flex gap-3 justify-content-center">
                    <button type="button" class="btn btn-outline-danger" (click)="cancelEdit()">Annuler</button>
                    <button type="button" class="btn btn-success" (click)="saveChanges()" [disabled]="userForm.invalid" >Valider</button>
                </div>
            </ng-container>
        </form>
        <div *ngIf="actionError" class="col-12 d-flex justify-content-center my-5">
            <p class="bg-danger text-light text-center py-2 px-5">{{ errorMessage }}</p>
        </div>
        <div *ngIf="actionSuccess" class="col-12 d-flex justify-content-center my-5">
            <p class="bg-success text-light text-center py-2 px-5">{{ successMessage }}</p>
        </div>
    </div>
</div>

