<app-nav-element></app-nav-element>
<div class="container-fluid bg-white pb-5" style="margin-top:120px">
    <div class="row">
        <div class="d-flex col-12 align-items-center justify-content-center" style="margin-top: -100px;">
            <h1 class="text-center my-5 display-3 fw-bold" >Mon Compte</h1>
            <div *ngIf="user && !isEditMode" class="d-flex">
                <button type="button" class="btn btn-primary  ms-3" (click)="delete()">Supprimer</button>
                <button type="button" class="btn btn-primary ms-3" (click)="enableEditMode()">Editer</button>
            </div>

        </div>
        <ul *ngIf="user" class="col-12 d-flex justify-content-center" style="list-style:none;">
            <li class="mx-3"><i class="bi bi-airplane-fill me-2 text-primary"></i><span class="fw-bold">{{ user.tripsCount }}</span></li>
            <li class="mx-3"><i class="bi bi-calendar me-2 text-primary"></i><span class="fw-bold">{{ formatDate(user.createdAt) }}</span></li>
        </ul>
        <!-- <ul *ngIf="user" class="col-12 d-flex justify-content-center gap-4 my-3" style="list-style:none;">
            <li class="bg-light bg-gradient p-2"><i class="bi-person-fill me-2 text-primary"></i><span class="fs-4">{{ user.name }}</span></li>
            <li  class="bg-light bg-gradient p-2"><i class="bi bi-key-fill me-2 text-primary"></i><span class="fs-4">*******</span></li>
        </ul> -->
        <ul *ngIf="user" class="col-12 d-flex justify-content-center" style="list-style:none;">
            <input class="bg-light bg-gradient p-2" type="text" [(ngModel)]="user.name" [disabled]="!isEditMode" />
            <input class="bg-light bg-gradient p-2" type="password" [(ngModel)]="user.name" [disabled]="!isEditMode" />
        </ul>
        <div *ngIf="actionError" class="col-12 d-flex justify-content-center my-5">
            <p class="bg-danger text-light text-center py-2 px-5">{{ errorMessage }}</p>
        </div>
        <ng-container *ngIf="isEditMode;">
            <button type="button" class="btn btn-success ms-3" (click)="saveChanges()">Valider</button>
            <button type="button" class="btn btn-danger ms-3" (click)="cancelEdit()">Annuler</button>
        </ng-container>
    </div>
</div>

