<div class="container-fluid bg-light" style="min-height:100vh;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="h1 text-center text-primary mt-5 pt-5 mb-4"><i class="bi bi-airplane-fill me-3 text-primary"></i>Travely</h1>
      <h2 class="h5 text-center">Partage et publie tes voyages autour du monde</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="py-5 my-3 d-flex flex-wrap gap-3 align-items-end justify-content-center" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
        <div>
          <label for="username" class="form-label m-1 required">Identifiant</label>
          <input 
            class="form-control"
            type="text"
            name="username"
            id="username"
            #usernameField="ngModel"
            required
            [(ngModel)]="authRequest.username"
          />
          <p class="position-absolute small m-1 text-danger" *ngIf="usernameField.hasError('required') && usernameField.touched">
            Identifiant obligatoire
          </p>
        </div>
        <div>
          <label for="password" class="form-label m-1 required">Mot de passe</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="passwrod"
            #passwordField="ngModel"
            required
            [(ngModel)]="authRequest.password"
          />
          <p class="position-absolute small m-1 text-danger" *ngIf="passwordField.hasError('required') && passwordField.touched">
          Mot de passe obligatoire
          </p>
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        </div>
      </form>
    </div>
    <div *ngIf="loginError" class="col-12 d-flex justify-content-center">
      <p class="bg-danger text-light text-center py-2 px-5">{{ errorMessage }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex mt-5 align-items-center justify-content-center gap-3">
        <p class="mb-0">Tu n’as pas encore de compte?</p><button routerLink="/register" class="btn btn-outline-primary">Créer un compte</button>
      </div>
    </div>
  </div>
</div>

