<form [formGroup]="tripForm">
  <div class="mb-3">
    <label for="tripname" class="form-label required">Nom du voyage</label>
    <input
      type="text"
      name="tripname"
      class="form-control"
      id="tripname"
      formControlName="title"
    />
    <p
      class="position-absolute small m-1 text-danger"
      *ngIf="tripForm.get('title')?.invalid && (tripForm.get('title')?.touched)"
    >
      Un nom de minimum 3 charactères est obligatoire
    </p>
  </div>
  <div class="mb-3">
    <label for="tripdesc" class="form-label required">Description du voyage</label>
    <input
      type="text"
      name="tripdesc"
      class="form-control"
      id="tripdesc"
      formControlName="description"
    />
    <p
      class="position-absolute small m-1 text-danger"
      *ngIf="tripForm.get('description')?.invalid && (tripForm.get('description')?.touched)"
    >
      Une description de minimum 5 charactères est obligatoire
    </p>
  </div>
</form>
