<app-nav-element></app-nav-element>
<div *ngIf="trip" class="container-fluid bg-white" style="margin-top: 120px;">
    <div class="row">
        <div class="d-flex col-12 align-items-center justify-content-center" style="margin-top: -100px;">
            <h1 class="text-center my-5 display-3 fw-bold" > {{ trip.title }}</h1>
            <div *ngIf="tripOwnedByUser" class="d-flex">
                <button type="button" class="btn btn-primary  ms-3" (click)="showEditModal()">Editer</button>
                <button type="button" class="btn btn-primary  ms-3" (click)="confirmDelete()" >Supprimer</button>
            </div>
        </div>
        <div *ngIf="deleteTripError" class="col-12 d-flex justify-content-center">
            <p class="bg-danger text-light text-center py-2 px-5">{{ errorMessage }}</p>
          </div>
        <ul class="col-12 d-flex justify-content-center" style="list-style:none;">
            <li class="mx-3"><i class="bi bi-calendar me-2 text-primary"></i><span class="fw-bold">{{ formatDate(trip.createdAt) }}</span></li>
            <li class="mx-3"><i class="bi bi-geo-alt-fill me-2 text-primary"></i><span class="fw-bold">{{ trip.placesCount }}</span></li>
            <li class="mx-3"><i class="bi bi-person-fill me-2 text-primary"></i><span  class="fw-bold">{{ trip.userId }}</span></li>
        </ul>
        <p class="col-12 text-center my-3">{{ trip.description }}</p>
    </div>
    <div *ngIf="tripOwnedByUser">
        <button class="btn btn-primary  ms-3" (click)="showAddPlaceModal()">Ajouter un lieu</button>
    </div>
    <div *ngIf="trip" class="row">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime" class="col-6">
            <ng-container *ngFor="let place of places">
                <app-place-card [place]="place" [tripOwnedByUser]="tripOwnedByUser" (placeDeleted)="onPlaceDeleted($event)" (placeEdited)="loadPlace()"></app-place-card>
            </ng-container>
        </accordion>
        <div class="col-6" *ngIf="tripId">
            <app-trip-map [tripId]="tripId" class="position-relative"></app-trip-map> 
        </div>
    </div>
</div>
<div *ngIf="!trip" class="container-fluid bg-white" style="margin-top: 120px;">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center my-5 display-5 fw-bold" >Oups, ce voyage n'est plus disponible.</h1>
            <button class="btn btn-primary mb-5"  routerLink="/home">Voir mes voyages</button>
        </div>
    </div>
</div>


