accordion-group::ng-deep div {
        &>div.panel-heading.card-header.panel-enabled {
          background-color: #bedfff; // change the background of every accordion heading
  
          .btn-link {
            text-decoration: none;
          }
        }
  
        &>div.panel-collapse.collapse.in.show>div {
          background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
        }
}