<accordion-group heading="{{place.name}}"panelClass="customClass">
    <div class="row">
        <div class="col-4">
            <img class="placeimg" *ngIf="place.pictureUrl; else defaultImage" src="{{place.pictureUrl}}" alt="{{ place.name }}">
            <ng-template #defaultImage>
              <img class="placeimg" src="https://picsum.photos/200" alt="Image par défaut">
            </ng-template>
        </div>
        <div class="col-8">
            <p>{{place.description}}</p>
            <p>{{place.location.coordinates[0]}},{{place.location.coordinates[1]}}</p>
            <div *ngIf="tripOwnedByUser" class="d-flex">
                <button type="button" class="btn btn-primary  ms-3" (click)="showEditModal()">Editer</button>
                <button type="button" class="btn btn-primary  ms-3" (click)="delete()">Supprimer</button>
            </div>
        </div>
    </div>
</accordion-group>