<accordion-group heading="{{place.name}}"panelClass="customClass" #accordionItem  [id]="place.id" [isOpen]="openedAccordionId === place.id" (isOpenChange)="accordionPanelOpened($event, place.id)">
    <div class="row">
        <div class="col-4">
            <img class="placeimg" *ngIf="place.pictureUrl; else defaultImage" src="{{place.pictureUrl}}" alt="{{ place.name }}">
            <ng-template #defaultImage>
              <img class="placeimg" src="https://media.istockphoto.com/id/1373024887/de/vektor/karten-pin-icon-mit-langem-schatten-auf-leerem-hintergrund-flat-design.jpg?s=612x612&w=0&k=20&c=E09D9kCH8kkqEQoxS3llgN3nRNDfsQxAFf4llj6zq2g=" alt="Image par défaut">
            </ng-template>
        </div>
        <div class="col-8">
            <p>{{place.description}}</p>
            <p>{{place.location.coordinates[0]}},{{place.location.coordinates[1]}}</p>
            <div *ngIf="tripOwnedByUser" class="d-flex">
                <button type="button" class="btn btn-primary  ms-3" (click)="showEditModal()">Editer</button>
                <button type="button" class="btn btn-primary  ms-3" (click)="delete()">Supprimer</button>
            </div>
        </div>
    </div>
</accordion-group>