
/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
 @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap Icon SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";


/*Global styling*/

/* Add .required class to style label with required input */
.required::after {
    content: '*';
    color: red;
    margin-left: 5px;
  }

/* reset leaflet popup */
.map .leaflet-popup-content-wrapper, .map .leaflet-popup-tip {
  background: #ffffff;
  color: #333;
  padding: 12px;
  border-radius: 0;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.map.leaflet-container a.leaflet-popup-close-button {
  color: #ffffff;
  background-color: #005dff;
}