<div class="modal-header">
    <h5 class="modal-title" id="newTripModal">Ajoutez un lieu à votre voyage</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <app-place-form #placeForm (submitted)="createNewPlace($event)"></app-place-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      Annuler
    </button>
    <button type="submit" class="btn btn-primary" (click)="placeForm.onSubmit()">Valider</button>
  </div>
  